<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/article.css">
    <title>{{post.title}}</title>
</head>

<body>
    <div class="archive">
        <div class="header">
            <p>
                {% load static %}
                <img src="{% static 'images/djangologo.jpg' %}" alt="Здесь должно быть изображение" />
                <a class="link" href="http://127.0.0.1:8000">Все статьи</a>
            </p>
        </div>
        <div class="one-post">
            <h2 class="post-title">{{post.title}}</h2>
            <div class="article-info">
                <div class="article-author">{{post.author.username}}</div>
                <div class="article-created-date">{{post.created_date}}</div>
            </div>
            <p class="article-text">{{post.text}}</p>
        </div>
    </div>
</body>

</html>